## Importing necessities

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

import pickle

## Reading data

In [2]:
df = pd.read_csv('../data/face_dectection_data.csv')
df

C:\Users\Chorom Ham\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,video_id,views,subscriber_count,thumbnail,people_num,age,width,height,emotion,gender
0,8e7GcsDEKEE,30038.0,98400,https://i.ytimg.com/vi/8e7GcsDEKEE/default.jpg,2.0,23.0,0.209781,0.265995,CALM,Male
1,FYoDak3VfF4,29102.0,98400,https://i.ytimg.com/vi/FYoDak3VfF4/default.jpg,1.0,9.0,0.209445,0.350828,SURPRISED,Male
2,FuTTOzwWo58,25022.0,98400,https://i.ytimg.com/vi/FuTTOzwWo58/default.jpg,1.0,18.0,0.210325,0.342480,CALM,Male
3,-48XAC_GDjk,49551.0,98400,https://i.ytimg.com/vi/-48XAC_GDjk/default.jpg,1.0,22.0,0.143989,0.230920,CALM,Male
4,mhehORE9WNA,74348.0,98400,https://i.ytimg.com/vi/mhehORE9WNA/default.jpg,2.0,5.0,0.136056,0.214099,CALM,Male
...,...,...,...,...,...,...,...,...,...,...
90769,K-sH6E9YeTw,137922.0,112000,https://i.ytimg.com/vi/K-sH6E9YeTw/default.jpg,NaN,NaN,NaN,NaN,NaN,NaN
90770,ucEs84amVm8,153005.0,112000,https://i.ytimg.com/vi/ucEs84amVm8/default.jpg,NaN,NaN,NaN,NaN,NaN,NaN
90771,jSK3H-dFfE0,151071.0,112000,https://i.ytimg.com/vi/jSK3H-dFfE0/default.jpg,NaN,NaN,NaN,NaN,NaN,NaN
90772,OEWk-sZG5j0,177515.0,112000,https://i.ytimg.com/vi/OEWk-sZG5j0/default.jpg,NaN,NaN,NaN,NaN,NaN,NaN
90773,LJ8c4TqerXg,78138.0,112000,https://i.ytimg.com/vi/LJ8c4TqerXg/default.jpg,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
## Drop unnecessary columns
df = df.drop(columns = ['video_id', 'thumbnail'])
df

,views,subscriber_count,people_num,age,width,height,emotion,gender
0,30038.0,98400,2.0,23.0,0.209781,0.265995,CALM,Male
1,29102.0,98400,1.0,9.0,0.209445,0.350828,SURPRISED,Male
2,25022.0,98400,1.0,18.0,0.210325,0.342480,CALM,Male
3,49551.0,98400,1.0,22.0,0.143989,0.230920,CALM,Male
4,74348.0,98400,2.0,5.0,0.136056,0.214099,CALM,Male
...,...,...,...,...,...,...,...,...
90769,137922.0,112000,NaN,NaN,NaN,NaN,NaN,NaN
90770,153005.0,112000,NaN,NaN,NaN,NaN,NaN,NaN
90771,151071.0,112000,NaN,NaN,NaN,NaN,NaN,NaN
90772,177515.0,112000,NaN,NaN,NaN,NaN,NaN,NaN
90773,78138.0,112000,NaN,NaN,NaN,NaN,NaN,NaN

## Train-Test Splitting

In [ ]:
X_data = df.drop(columns = ['views'])
y_data = df['views']

train_X, test_X, train_y, test_y = train_test_split(X_data, y_data, train_size = 0.80)

## Modeling

In [ ]:
model = RandomForestRegressor()
model.fit(train_X, train_y)

# validation
print(model.score(train_X, train_y))
print(model.score(test_X, test_y))

In [ ]:
rf_model = pickle.dumps(model)